.app-wrapper {
  display: grid;
  width: 90%;
  margin: 5px auto;

  grid-template-areas:
          "h h"
          "n p";
  grid-template-rows: 70px;
  grid-template-columns: 2fr 10fr;

  grid-gap: 5px;
}





